
@import "../../src//mixins.scss";

.homeMaincont{
    height: 100vh;
    img{
        position: absolute;
        z-index: -1;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        animation: fadeInBackground 1s ease-in-out forwards;
    }
    .inputButton{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 2rem;
        @include sm{
          flex-direction: column;
        }
        input{
            width: 50%;
            outline: none;
            height: 5vh;
            border-radius: 3vh;
            border: none;
            padding: 0 1rem 0 1rem;
            min-width: 16rem;
        }
        input::placeholder{
           font-size: .9rem;
        }
        button{
            height: 5vh;
            padding: 1vh;
            border-radius: 1rem;
            outline: none;
            border: none;
            background: var(--gradient);
            font-weight: 700;
            cursor: pointer;
            width: 6rem;  
            text-wrap: nowrap;
        }
        button:hover{
            background: var(--gradient2);
        }
        label{
            color:white;
        }
        select {
            outline: none;
            border: 1px solid hsl(0, 0%, 100%);
            padding:2px;
            font-size: 14px;
            cursor: pointer;
          }
          
          select::after {
            content: '\25BC'; 
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
          }
    }
}

@keyframes fadeInBackground {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }